In [1]:
import pandas as pd

In [1]:
def random_number(url,n):
    iter=n
    file_name=url.split('/')[-1]
    df=pd.read_csv(f'files/2017/{file_name}.csv')
    try:
        year=df['season'][0]
        random_number=str(year)+str(iter)
        df['match_id']=random_number
        print(random_number)
    except:
        print(file_name)
    df.to_csv(f'files/2017/{file_name}.csv',index=False)
# for i,k in enumerate(links[0:],1):
#     if i <=9:
#         i="0"+str(i)
#     random_number(k,i)

In [2]:
links=[]
with open('match_links/2023_season_match_links.txt','r') as f1:
    for i in f1:
        links.append(i.strip())

In [79]:
def separate(url):
    file_name=url.split('/')[-1]
    df=pd.read_csv(f'files/2023/{file_name}.csv')
    new=df[['match_id','series','season','match_no','date','venue','team_a','team_b','team_a_11','team_b_11','team_a_subs','team_b_subs','toss_winner','toss_choosen','win','man_of_the_match']]
    new=new.iloc[0:1]
    this_match_id=new['match_id'][0]

    #display(new)
    new_df=pd.read_csv('files/match_data.csv')
    match_id=new_df.match_id.unique()
    if this_match_id in match_id:
        pass
    else:
        new_df=pd.concat([new_df,new])
    new_df.to_csv('files/match_data.csv',index=False)

#separate(links[0])
for i in links[0:]:
    try:
        separate(i)
    except Exception as e:
        print(e)
        print(i)


l=['match_id','series','season','match_no','date','venue','team_a','team_b','team_a_11','team_b_11','team_a_subs','team_b_subs','toss_winner','toss_choosen','winner','player_of_the_match']

"['match_id', 'toss_winner', 'toss_choosen'] not in index"
https://www.cricbuzz.com/cricket-full-commentary/69575/csk-vs-gt-final-indian-premier-league-2023

In [16]:
df=pd.DataFrame(columns=['match_id','ball','innings','team_a','team_b','batting_team','bowling_team','Batsman','Bowler','runs','extra', 'ball_length', 'ball_line','ball_destination', 'shot_name', 'ball_speed', 'out_type'])
df.to_csv('files/2017-2023_ball_by_ball_data.csv',index=False)

In [19]:
def separate(url):
    file_name=url.split('/')[-1]
    df=pd.read_csv(f'files/2023/{file_name}.csv')
    new=df[['match_id','ball','innings','team_a','team_b','batting_team','bowling_team','Batsman','Bowler','runs','extra', 'ball_length', 'ball_line','ball_destination', 'shot_name', 'ball_speed', 'out_type']]
    display(new)
    ball=pd.read_csv('files/2017-2023_ball_by_ball_data.csv')
    display(ball)
    ball=pd.concat([ball,new])
    display(ball)
separate(links[0])

,match_id,ball,innings,team_a,team_b,batting_team,bowling_team,Batsman,Bowler,runs,extra,ball_length,ball_line,ball_destination,shot_name,ball_speed,out_type
0,202301,19.6,1st Inns,Gujarat Titans,Chennai Super Kings,CSK,GT,Dhoni,Joshua Little,1,0,undefined,undefined,square leg,pull shot,NaN,NaN
1,202301,19.5,1st Inns,Gujarat Titans,Chennai Super Kings,CSK,GT,Dhoni,Joshua Little,0,0,undefined,off side,NaN,beaten,NaN,NaN
2,202301,19.4,1st Inns,Gujarat Titans,Chennai Super Kings,CSK,GT,Dhoni,Joshua Little,4,0,undefined,stump line,square leg,flick shot,NaN,NaN
3,202301,19.3,1st Inns,Gujarat Titans,Chennai Super Kings,CSK,GT,Dhoni,Joshua Little,6,0,Back of Length,undefined,deep square,pull shot,NaN,NaN
4,202301,19.2,1st Inns,Gujarat Titans,Chennai Super Kings,CSK,GT,Santner,Joshua Little,byes,1,Full,leg side,square leg,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,202301,0.5,2nd Inns,Gujarat Titans,Chennai Super Kings,GT,CSK,Shubman Gill,Chahar,2,0,Good,undefined,square,square drive,NaN,NaN
239,202301,0.4,2nd Inns,Gujarat Titans,Chennai Super Kings,GT,CSK,Saha,Chahar,1,0,Good,off side,third man,edge,NaN,NaN
240,202301,0.3,2nd Inns,Gujarat Titans,Chennai Super Kings,GT,CSK,Saha,Chahar,0,0,undefined,stump line,NaN,NaN,NaN,NaN
241,202301,0.2,2nd Inns,Gujarat Titans,Chennai Super Kings,GT,CSK,Saha,Chahar,0,0,undefined,off side,NaN,NaN,NaN,NaN
242,202301,0.1,2nd Inns,Gujarat Titans,Chennai Super Kings,GT,CSK,Saha,Chahar,0,0,undefined,off side,point,NaN,NaN,NaN

Empty DataFrame
Columns: [match_id, ball, innings, team_a, team_b, batting_team, bowling_team, Batsman, Bowler, runs, extra, ball_length, ball_line, ball_destination, shot_name, ball_speed, out_type]
Index: []

,match_id,ball,innings,team_a,team_b,batting_team,bowling_team,Batsman,Bowler,runs,extra,ball_length,ball_line,ball_destination,shot_name,ball_speed,out_type
0,202301,19.6,1st Inns,Gujarat Titans,Chennai Super Kings,CSK,GT,Dhoni,Joshua Little,1,0,undefined,undefined,square leg,pull shot,NaN,NaN
1,202301,19.5,1st Inns,Gujarat Titans,Chennai Super Kings,CSK,GT,Dhoni,Joshua Little,0,0,undefined,off side,NaN,beaten,NaN,NaN
2,202301,19.4,1st Inns,Gujarat Titans,Chennai Super Kings,CSK,GT,Dhoni,Joshua Little,4,0,undefined,stump line,square leg,flick shot,NaN,NaN
3,202301,19.3,1st Inns,Gujarat Titans,Chennai Super Kings,CSK,GT,Dhoni,Joshua Little,6,0,Back of Length,undefined,deep square,pull shot,NaN,NaN
4,202301,19.2,1st Inns,Gujarat Titans,Chennai Super Kings,CSK,GT,Santner,Joshua Little,byes,1,Full,leg side,square leg,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,202301,0.5,2nd Inns,Gujarat Titans,Chennai Super Kings,GT,CSK,Shubman Gill,Chahar,2,0,Good,undefined,square,square drive,NaN,NaN
239,202301,0.4,2nd Inns,Gujarat Titans,Chennai Super Kings,GT,CSK,Saha,Chahar,1,0,Good,off side,third man,edge,NaN,NaN
240,202301,0.3,2nd Inns,Gujarat Titans,Chennai Super Kings,GT,CSK,Saha,Chahar,0,0,undefined,stump line,NaN,NaN,NaN,NaN
241,202301,0.2,2nd Inns,Gujarat Titans,Chennai Super Kings,GT,CSK,Saha,Chahar,0,0,undefined,off side,NaN,NaN,NaN,NaN
242,202301,0.1,2nd Inns,Gujarat Titans,Chennai Super Kings,GT,CSK,Saha,Chahar,0,0,undefined,off side,point,NaN,NaN,NaN

In [6]:
a=['match_id','ball','innings','batting_team','bowling_team','Batsman','Bowler','runs','extra', 'ball_length', 'ball_line',
       'ball_destination', 'shot_name', 'ball_speed', 'out_type']
len(a)

15